<a href="https://colab.research.google.com/github/AtharKharal/Data_science_with_python/blob/dev-branch/featuretools_learning_4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip install tornado==4.5.3 featuretools==0.6.1 pandas==0.24.1

In [0]:
import numpy as np
import pandas as pd
import featuretools as ft
from featuretools.primitives import make_trans_primitive
import featuretools.variable_types as vt

In [0]:
# Go to the CSV file in Google Drive, right-click on it and select 
# “Get shareable link”. The link will be copied into your clipboard. 
# Paste this link into following a string variable i.e. link:

link = 'https://drive.google.com/open?id=10JNCo2Opquuq2cwGiyGgvlds8U2wz3mW'  # The shareable link

# Code to read csv file into Colaboratory:
!pip install -U -q PyDrive
from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials
# Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)


fluff, id = link.split('=')   # Verify that you have everything after '=' by using print(id)

# Finally reading the data into a dataframe

downloaded = drive.CreateFile({'id':id}) 
downloaded.GetContentFile('dummy_file_name.csv')  
df1 = pd.read_csv('dummy_file_name.csv')

In [0]:
df1 = df1.iloc[:,1:df1.shape[1]]   # Target Variable must be removed for feature augmentation
df1['df_index']= np.arange(df1.shape[0])

#df1 = pd.DataFrame({'df_index' : [1,2,3,4,5],
#                 'location':['aust','aust','aust','canada','canada'],
#                  'prices':[34,52,46,25,67],
#                   'values':[786,345,123,654,841],
#                    'cat':[1,1,2,1,2]
#                  })

In [18]:
df1.head()

,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,Guarantors,...,Most valuable available asset,Age (years),Concurrent Credits,Type of apartment,No of Credits at this Bank,Occupation,No of dependents,Telephone,Foreign Worker,df_index
0,1,18,4,2,1049,1,2,4,2,1,...,2,21,3,1,1,3,1,1,1,0
1,1,9,4,0,2799,1,3,2,3,1,...,1,36,3,1,2,3,2,1,1,1
2,2,12,2,9,841,2,4,2,2,1,...,1,23,3,1,1,2,1,1,1,2
3,1,12,4,0,2122,1,3,3,3,1,...,1,39,3,1,2,2,2,1,2,3
4,1,12,4,0,2171,1,3,4,3,1,...,2,38,1,2,2,2,1,1,2,4

In [0]:
def log10(column):
  return np.log10(column)

Log10 = make_trans_primitive(function=log10,
                             input_types=[vt.Numeric],
                             return_type=vt.Numeric)

In [19]:
#df1['date']=pd.date_range(start='02/07/2019',periods=5, freq='D')

es = ft.EntitySet(id='Transactions')
es.entity_from_dataframe(entity_id='log', 
                         dataframe=df1,
                         index='df_index'
                        )

es.normalize_entity(base_entity_id='log', new_entity_id='loc', 
                   index= 'Purpose' )

Entityset: Transactions
  Entities:
    log [Rows: 1000, Columns: 21]
    loc [Rows: 10, Columns: 1]
  Relationships:
    log.Purpose -> loc.Purpose

In [20]:
fm, features = ft.dfs(entityset=es, target_entity='log',
                      verbose = True                        
                     )
#max_depth = 2, n_jobs = 1 ,trans_primitives = ['add', 'multiply', Log10], agg_primitives = ['sum', 'mean'],

Built 135 features
Elapsed: 00:03 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 10/10 chunks

In [22]:
fm

,Account Balance,Duration of Credit (month),Payment Status of Previous Credit,Purpose,Credit Amount,Value Savings/Stocks,Length of current employment,Instalment per cent,Sex & Marital Status,Guarantors,...,loc.MEAN(log.Most valuable available asset),loc.MEAN(log.Age (years)),loc.MEAN(log.Concurrent Credits),loc.MEAN(log.Type of apartment),loc.MEAN(log.No of Credits at this Bank),loc.MEAN(log.Occupation),loc.MEAN(log.No of dependents),loc.MEAN(log.Telephone),loc.MEAN(log.Foreign Worker),loc.COUNT(log)
df_index,,,,,,,,,,,,,,,,,,,,,
0,1,18,4,2,1049,1,2,4,2,1,...,2.254144,32.403315,2.696133,1.795580,1.320442,2.922652,1.088398,1.348066,1.038674,181
1,1,9,4,0,2799,1,3,2,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
2,2,12,2,9,841,2,4,2,2,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
3,1,12,4,0,2122,1,3,3,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
4,1,12,4,0,2171,1,3,4,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
5,1,10,4,0,2241,1,2,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
6,1,8,4,0,3398,1,4,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
7,1,6,4,0,1361,1,2,2,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
8,4,18,4,3,1098,1,1,4,2,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
9,2,24,2,3,3758,3,1,1,2,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
10,1,11,4,0,3905,1,3,2,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
11,1,30,4,1,6187,2,4,1,4,1,...,2.893204,37.252427,2.728155,2.029126,1.398058,3.252427,1.213592,1.601942,1.019417,103
12,1,6,4,3,1957,1,4,1,2,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
13,2,48,3,10,7582,2,1,2,3,1,...,3.166667,39.916667,1.750000,2.250000,1.500000,3.500000,1.166667,1.916667,1.083333,12
14,1,18,2,3,1936,5,4,2,4,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
15,1,6,2,3,2647,3,3,2,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
16,1,11,4,0,3939,1,3,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
17,2,18,2,3,3213,3,2,1,4,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
18,2,36,4,3,2337,1,5,4,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
19,4,11,4,0,7228,1,3,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
20,1,6,4,0,3676,1,3,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
21,2,12,4,0,3124,1,2,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
22,2,36,2,5,2384,1,2,4,3,1,...,2.272727,38.545455,2.863636,2.045455,1.681818,2.500000,1.227273,1.227273,1.045455,22
23,2,12,4,4,1424,1,4,4,3,1,...,2.000000,34.250000,2.833333,1.833333,1.083333,2.750000,1.000000,1.333333,1.000000,12
24,1,6,4,0,4716,5,2,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
25,2,11,3,3,4771,1,4,2,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
26,1,12,2,2,652,1,5,4,2,1,...,2.254144,32.403315,2.696133,1.795580,1.320442,2.922652,1.088398,1.348066,1.038674,181
27,2,9,4,3,1154,1,5,2,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
28,4,15,2,0,3556,5,3,3,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
29,3,42,4,1,4796,1,5,4,3,1,...,2.893204,37.252427,2.728155,2.029126,1.398058,3.252427,1.213592,1.601942,1.019417,103
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
970,4,48,2,9,4844,1,1,3,3,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
971,2,27,0,9,8318,1,5,2,2,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
972,3,18,2,3,2100,1,3,4,3,2,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
973,1,45,0,9,11816,1,5,2,3,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
974,1,6,2,6,448,1,2,4,2,1,...,2.980000,38.940000,2.620000,2.120000,1.380000,2.900000,1.220000,1.440000,1.000000,50
975,1,30,2,5,11998,1,2,1,1,1,...,2.272727,38.545455,2.863636,2.045455,1.681818,2.500000,1.227273,1.227273,1.045455,22
976,2,48,0,10,18424,1,3,1,2,1,...,3.166667,39.916667,1.750000,2.250000,1.500000,3.500000,1.166667,1.916667,1.083333,12
977,1,6,2,0,14896,1,5,1,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
978,2,12,2,2,2762,5,5,1,2,1,...,2.254144,32.403315,2.696133,1.795580,1.320442,2.922652,1.088398,1.348066,1.038674,181
979,1,12,2,1,3386,1,5,3,3,1,...,2.893204,37.252427,2.728155,2.029126,1.398058,3.252427,1.213592,1.601942,1.019417,103
980,2,24,2,3,2039,1,2,1,4,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
981,4,18,3,9,2169,1,3,4,4,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
982,2,48,4,2,5096,1,3,2,2,1,...,2.254144,32.403315,2.696133,1.795580,1.320442,2.922652,1.088398,1.348066,1.038674,181
983,1,18,2,3,1882,1,3,4,2,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
984,1,48,2,3,6999,1,4,1,4,3,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
985,4,12,4,9,2292,1,1,4,3,1,...,2.278351,35.350515,2.484536,1.886598,1.556701,2.907216,1.154639,1.536082,1.000000,97
986,1,14,2,0,8978,1,5,1,1,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
987,1,12,2,3,674,2,4,4,4,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
988,1,18,2,0,976,1,2,1,2,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
989,2,24,2,0,2718,1,3,3,2,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
990,1,18,2,6,750,1,1,4,2,1,...,2.980000,38.940000,2.620000,2.120000,1.380000,2.900000,1.220000,1.440000,1.000000,50
991,2,24,2,1,12579,1,5,4,2,1,...,2.893204,37.252427,2.728155,2.029126,1.398058,3.252427,1.213592,1.601942,1.019417,103
992,1,18,2,1,7511,5,5,1,3,1,...,2.893204,37.252427,2.728155,2.029126,1.398058,3.252427,1.213592,1.601942,1.019417,103
993,1,18,4,0,3966,1,5,1,2,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
994,1,12,0,3,6199,1,3,4,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
995,1,24,2,3,1987,1,3,2,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
996,1,24,2,0,2303,1,5,4,3,2,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
997,4,21,4,0,12680,5,5,4,3,1,...,2.311966,37.089744,2.670940,1.952991,1.444444,2.799145,1.222222,1.371795,1.089744,234
998,2,12,2,3,6468,5,1,2,3,1,...,2.182143,34.767857,2.735714,1.917857,1.378571,2.875000,1.107143,1.339286,1.017857,280
999,1,30,2,2,6350,5,5,4,3,1,...,2.254144,32.403315,2.696133,1.795580,1.320442,2.922652,1.088398,1.348066,1.038674,181