<a href="https://colab.research.google.com/github/AtharKharal/Data_science_with_python/blob/dev-branch/featuretools_learning_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#!pip3 install featuretools==0.6.0
#!pip install pandas==0.24.1

In [0]:
import numpy as np
import pandas as pd
import featuretools as ft
from featuretools.primitives import make_trans_primitive
import featuretools.variable_types as vt

In [0]:
def log10(column):
  return np.log10(column)

Log10 = make_trans_primitive(function=log10,
                             input_types=[vt.Numeric],
                             return_type=vt.Numeric)

In [0]:
df1 = pd.DataFrame({'df_index' : [1,2,3,4,5],
                 'location':['aust','aust','aust','canada','canada'],
                  'prices':[34,52,46,25,67],
                   'values':[786,345,123,654,841]
                  })

df1['date']=pd.date_range(start='02/07/2019',periods=5, freq='D')

es = ft.EntitySet(id='Transactions')
es.entity_from_dataframe(entity_id='log', 
                         dataframe=df1,
                         variable_types={'location': vt.Categorical,
                                         'prices':vt.Numeric,
                                         'values':vt.Numeric,
                                         'date':vt.Datetime
                                          }, 
                         index='df_index',
                         time_index='date'
                        )

es.normalize_entity(base_entity_id='log', new_entity_id='loc', 
                   index= 'location' )

Entityset: Transactions
  Entities:
    log [Rows: 5, Columns: 5]
    loc [Rows: 2, Columns: 2]
  Relationships:
    log.location -> loc.location

In [0]:
fm, features = ft.dfs(entityset=es, target_entity='log',
                      verbose = True
                     )
#max_depth = 2, n_jobs = 1 ,trans_primitives = ['add', 'multiply', Log10],agg_primitives = ['sum', 'mean'],

Built 24 features
Elapsed: 00:00 | Remaining: 00:00 | Progress: 100%|██████████| Calculated: 1/1 chunks

In [0]:
features

[<Feature: location>,
 <Feature: prices>,
 <Feature: values>,
 <Feature: DAY(date)>,
 <Feature: YEAR(date)>,
 <Feature: MONTH(date)>,
 <Feature: WEEKDAY(date)>,
 <Feature: loc.SUM(log.prices)>,
 <Feature: loc.SUM(log.values)>,
 <Feature: loc.STD(log.prices)>,
 <Feature: loc.STD(log.values)>,
 <Feature: loc.MAX(log.prices)>,
 <Feature: loc.MAX(log.values)>,
 <Feature: loc.SKEW(log.prices)>,
 <Feature: loc.SKEW(log.values)>,
 <Feature: loc.MIN(log.prices)>,
 <Feature: loc.MIN(log.values)>,
 <Feature: loc.MEAN(log.prices)>,
 <Feature: loc.MEAN(log.values)>,
 <Feature: loc.COUNT(log)>,
 <Feature: loc.DAY(first_log_time)>,
 <Feature: loc.YEAR(first_log_time)>,
 <Feature: loc.MONTH(first_log_time)>,
 <Feature: loc.WEEKDAY(first_log_time)>]