<a href="https://colab.research.google.com/github/AtharKharal/Data_science_with_python/blob/dev-branch/featuretools_learning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import featuretools as ft

In [4]:
df = pd.DataFrame({'df_index' : [1,2,3,4,5],
                 'location':['aust','aust','aust','canada','canada'],
                  'prices':[34,52,46,25,67]
                  })
df

   df_index location  prices
0         1     aust      34
1         2     aust      52
2         3     aust      46
3         4   canada      25
4         5   canada      67

In [0]:
df['date']=pd.date_range(start='02/07/2019',periods=5, frequency='D')

In [6]:
df

   df_index location  prices       date
0         1     aust      34 2019-02-07
1         2     aust      52 2019-02-08
2         3     aust      46 2019-02-09
3         4   canada      25 2019-02-10
4         5   canada      67 2019-02-11