<a href="https://colab.research.google.com/github/AtharKharal/Data_science_with_python/blob/dev-branch/Regression_Task.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import seaborn as sns
import pandas as pd
from google.colab import files

#from sklearn import

In [0]:
!curl -o FremontBridge.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD
!curl -o BicycleWeather.csv https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD; BicycleWeather.csv

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1536k    0 1536k    0     0   459k      0 --:--:--  0:00:03 --:--:--  459k
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100 1536k    0 1536k    0     0   517k      0 --:--:--  0:00:02 --:--:--  517k
/bin/bash: BicycleWeather.csv: command not found

In [0]:
counts = pd.read_csv('https://data.seattle.gov/api/views/65db-xm6k/rows.csv?accessType=DOWNLOAD', index_col='Date', parse_dates=True)
#weather = pd.read_csv('https://github.com/jakevdp/PythonDataScienceHandbook/blob/master/notebooks/data/BicycleWeather.csv', index_col='DATE', 
#                     parse_dates=True)

In [9]:
daily = counts.resample('d').sum()
daily.head()

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk
Date
2012-10-03                        1760.0                        1761.0
2012-10-04                        1708.0                        1767.0
2012-10-05                        1558.0                        1590.0
2012-10-06                        1080.0                         926.0
2012-10-07                        1191.0                         951.0

In [10]:
daily['Total'] = daily.sum(axis = 1)
daily.head()

            Fremont Bridge East Sidewalk  Fremont Bridge West Sidewalk   Total
Date
2012-10-03                        1760.0                        1761.0  3521.0
2012-10-04                        1708.0                        1767.0  3475.0
2012-10-05                        1558.0                        1590.0  3148.0
2012-10-06                        1080.0                         926.0  2006.0
2012-10-07                        1191.0                         951.0  2142.0

In [0]:
!pip install -U -q PyDrive

from pydrive.auth import GoogleAuth
from pydrive.drive import GoogleDrive
from google.colab import auth
from oauth2client.client import GoogleCredentials

# 1. Authenticate and create the PyDrive client.
auth.authenticate_user()
gauth = GoogleAuth()
gauth.credentials = GoogleCredentials.get_application_default()
drive = GoogleDrive(gauth)

# 2. Load a file by ID and create local file.
downloaded = drive.CreateFile({'id':'BicycleWeather.csv'}) # replace fileid with Id of file you want to access
downloaded.GetContentFile('export.csv') # now you can use export.csv